* {
  margin: 0px;
  padding: 0px;
  color: white;
  border: none;
  font-family: sans-serif;
/*  background-color: black;*/
  
}

header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 10px;
}

.buttons {
  position: relative;
  right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sign-in{
  border: 0px;
  width: 60px;
  height: 22px;
  color: white;
  background-color: red;
  border-radius: 3px;
  margin-left: 10px;
}

#lang-btn {
  background: transparent;
  border: 1px solid white;
  height: 22px;
  width: 70px;
  border-radius: 3px;

}

.logo img {
  width: 140px;
}

.main {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.main-content {
  align-items: center;
  text-align: center;
  width: 100vw;
  position: relative;
  top: 25%;
  height: 75%;
}

.email {
  position: relative;
  top: 20px;
  position: center;
  width: 100%;
  align-items: center;
}

input {
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 60%;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
}

input::placeholder {
  padding-left: 15px;
}

.start {
  border-radius: 3px;
  border: none;
  background-color: red;
  width: 20%;
  height: 40px;
}

.main-content h3 {
  padding: 15px;
}

.main-content h1 {
  font-size: 50px;
  font-weight: 1000;
}

.margin {
  width: 100vw;
  background-color: #252525;
  height: 6px;
}

.page {
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100vw;
  height: 450px;
  display: flex;
  overflow: hidden;
}

.text {
  position: relative;
  left: 30px;
  width: 45vw;

}

.text h1 {
  font-size: 40px;
  position: relative;
  right: 35px;
  padding-bottom: 10px;

}

.text p {
  font-size: 20px;
  position: relative;
  right: 35px;
}

.image {
  position: relative;
  right: 15px;
  left: 15px;
  width: 45vw;
}

.image img {
  width: 100%;
}

.faq{
  background-color: black;
  width: 100vw;
  height: 430px;
 
  font-size: 18px;
  text-align: center;
}

.faq h1 {
  position:relative;
  top: 10px;
  font-weight: 500;
  font-size: 30px;
  
}

.quaries-box {
  position: relative;
  top: 15px;
  justify-content: space-around;
  align-items: center;
}

.questions button {
  text-align: left;
  padding-left: 8px;
  background-color: rgb(36, 35, 35);
  width: 80%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
}

@media(max-width: 600px) {

  input {
    height: 30px;
    width: 70vw;
    margin-bottom: 10px;

  }

  .email {
    display: flex;
    flex-direction: column;
  }

  .start {
    width: 40%;
  }

  .main-content h1 {
    font-size: 35px;
    font-weight: 1000;
  }
  
  .page{
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  
  #reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  
  .image{
    width: 80vw;
    
  }
  .text{
    text-align: center;
    width: 90vw;
  }
}